@use 'sass:map';

@mixin flex(
  $direction: row,
  $justify: center,
  $align: center,
  $flex-wrap: nowrap
) {
  display: flex;
  flex-wrap: $flex-wrap;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

$breakpoints: (
  'phone-small': 320px,
  'phone': 360px,
  'phone-wide': 480px,
  'tablet-small': 640px,
  'tablet': 768px,
  'tablet-wide': 1024px,
  'desktop': 1280px,
  'desktop-wide': 1440px,
  'desktop-wide-helper': 1600px,
  'tv': 1920px,
  'tv-wide': 2400px,
);

@mixin mq($width, $type: min) {
  @if map.has-key($breakpoints, $width) {
    $width: map.get($breakpoints, $width);
    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}
